{% extends 'AppBundle:Main:base.html.twig' %}

{% block body %}

    <div class="all">

        {% include('AppBundle:Templates:header.html.twig') %}

        <div class="main">

            <div class="left">

                <div class="recipe_form">

                    <h2>Редактировать рецепт</h2>

                    {{ form_start(form) }}

                        <div>{{ form_row(form.title) }}</div>
                        <div>{{ form_row(form.description) }}</div>
                        <div>{{ form_row(form.brochure) }}</div>

                        <div class="ingredients_add_wrp">

                            <h2>Ингредиенты</h2>

                            <a href="/ingredients/add" onclick="return task.newIngredient();" class="add_ingredient_btn">Добавить ингериент</a>
                        </div>

                        <ul id="ingredientList" class="ingredients_list">

                            {% for item in form.ingredient %}
                                <li id="ingredient">
                                    <div class="cover">
                                        {{ form_row(item.title, {
                                            'label' : false,
                                            'attr'  : { 'class' : ''}
                                        }) }}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>

                    {{ form_end(form) }}

                </div>

            </div>
            <div class="right">

                <ul class="menu_list">
                    <li>
                        <a href="/jornal">
                            <span class="txt">Журнал</span>
                            <span id="jornalCnt" class="jornal_cnt">12</span>
                        </a>
                        <div class="cover"></div>
                    </li>
                    <li>
                        <a href="/jornal">
                            <span class="txt">Удаленные рецепты</span>
                        </a>
                        <div class="cover"></div>
                    </li>
                </ul>

            </div>

        </div>

    </div>

{% endblock body %}
