{% extends 'AppBundle:Main:base.html.twig' %}

{% block body %}

    <div class="all">

        {% include('AppBundle:Templates:header.html.twig') %}
        {% include('AppBundle:Templates:after.html.twig') %}

        <div class="main">

            <div class="left">

                {% for cmtItem in recipe.comments %}
                    {#<h1>{{ cmtItem }}</h1>#}
                {% endfor %}

                {% if recipe is defined %}

                    <div class="recipe">
                        <h1>{{ recipe.title }}</h1>
                        <div class="recipe_more_info">
                            <a href="#">просмотров за все время: {{ votes | length }}</a>
                            <a href="#comments">комментариев: {{ votes | length }}</a>
                        </div>

                        {% if recipe.brochure %}
                            <div class="picture_wrp">
                                <img src="/uploads/{{ recipe.brochure }}">
                            </div>
                        {% endif %}

                        <h2>Рецепт приготовления</h2>
                        <p class="full_description">{{ recipe.description | raw }}</p>

                        {%  if recipe.ingredient|length > 0 %}

                            <br><h2>Ингредиенты</h2>

                            <ul id="ingredientList" class="ingredients_list">

                                {% for item in recipe.ingredient %}
                                    <li id="ingredient">
                                        <div class="cover">
                                            <span class="item_ingredient">{{ item.title }}</span>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <br>
                        {% endif %}

                        <div class="recipe_more_links">
                            <a href="/edit/{{ recipe.id }}">Редактировать рецепт</a>
                        </div>
                    </div>

                {% endif %}

                <div class="art_info"><!-- recipe info block -->
                    <div class="inner">

                        {% set likes    = [] %}
                        {% set dislikes = [] %}

                        {% set likeClass    = 'vote' %}
                        {% set dislikeClass = 'vote' %}

                        {% for vote in votes %}

                            {% if vote.userVote %}

                                {% set likes = likes | merge([vote.clientId]) %}

                                {% if vote.clientId == clientId %}
                                    {% set likeClass = 'vote active' %}
                                {% endif %}

                            {% elseif vote.userVote is empty %}

                                {% if vote.clientId == clientId %}
                                    {% set dislikeClass = 'vote' %}
                                {% endif %}

                            {% elseif vote.userVote == 0 %}

                                {% set dislikes = dislikes | merge([vote.clientId]) %}

                                {% if vote.clientId == clientId %}
                                    {% set dislikeClass = 'vote active' %}
                                {% endif %}

                            {% endif %}
                        {% endfor %}

                        {% set likesCount = likes|length %}
                        {% set dislikesCount = dislikes|length %}

                        <div class="art_vote_wrp">
                            <div onclick="return recipe.vote(this, 'like')" class="{{ likeClass }}">
                                <div class="like"></div>
                                <span>{{ likesCount }}</span>
                            </div>
                            <div onclick="return recipe.vote(this, 'dislike')" class="{{ dislikeClass }}">
                                <div class="dislike"></div>
                                <span>{{ dislikesCount }}</span>
                            </div>
                        </div>

                        <div class="comment_editor_link">
                            <span>Добавить комментарий</span>
                        </div>

                        <div class="comment_editor">
                            <div class="comment_owner">
                                <img src="">
                            </div>
                            <div class="comment_field">

                                {{ form_start(cmtForm) }}

                                    {{ form_widget(cmtForm) }}

                                {{ form_end(cmtForm) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div id="comments" class="comments"><!-- comments -->


                    <ul class="comments_list">
                        <li>
                            <div class="comment_wrapper">
                                <div class="comment_bar">
                                    <a href="/" target="_blank" class="name">Филипенко клавдия</a>
                                    <div class="created_at"><span>25 дек 2016 в 14:00</span></div>
                                </div>
                                <div class="comment">
                                    <div class="owner">
                                        <a href="/" target="_blank"><img src="../img/avatar_mini.jpg" alt=""></a>
                                    </div>

                                    <div class="comment_vote_list">
                                        <div class="like" onclick="return Cmt.vote('11_2', 'like', this)">
                                            <img src="/img/comment_like.png">
                                            <div class="vote_count"><span style="width: 20px;">99</span></div>
                                        </div>
                                        <div class="dislike my_vote" onclick="return Cmt.vote('11_2', 'dislike', this)">
                                            <img src="/img/comment_dislike.png">
                                            <div class="vote_count"><span style="width: 20px;">100</span></div>
                                        </div>
                                    </div>

                                   <span class="txt">
                                       тут какой  то комментарий
                                   </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment_wrapper">
                                <div class="comment_bar">
                                    <a href="/" target="_blank" class="name">Филипенко клавдия</a>
                                    <div class="created_at"><span>25 дек 2016 в 14:00</span></div>
                                </div>
                                <div class="comment">
                                    <div class="owner">
                                        <a href="/" target="_blank"><img src="../img/avatar_mini.jpg" alt=""></a>
                                    </div>

                                    <div class="comment_vote_list">
                                        <div class="like" onclick="return Cmt.vote('11_2', 'like', this)">
                                            <img src="/img/comment_like.png">
                                            <div class="vote_count"><span style="width: 20px;">99</span></div>
                                        </div>
                                        <div class="dislike my_vote" onclick="return Cmt.vote('11_2', 'dislike', this)">
                                            <img src="/img/comment_dislike.png">
                                            <div class="vote_count"><span style="width: 20px;">100</span></div>
                                        </div>
                                    </div>

                                   <span class="txt">
                                       тут какой  то комментарий
                                   </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment_wrapper">
                                <div class="comment_bar">
                                    <a href="/" target="_blank" class="name">Филипенко клавдия</a>
                                    <div class="created_at"><span>25 дек 2016 в 14:00</span></div>
                                </div>
                                <div class="comment">
                                    <div class="owner">
                                        <a href="/" target="_blank"><img src="../img/avatar_mini.jpg" alt=""></a>
                                    </div>

                                    <div class="comment_vote_list">
                                        <div class="like" onclick="return Cmt.vote('11_2', 'like', this)">
                                            <img src="/img/comment_like.png">
                                            <div class="vote_count"><span style="width: 20px;">99</span></div>
                                        </div>
                                        <div class="dislike" onclick="return Cmt.vote('11_2', 'dislike', this)">
                                            <img src="/img/comment_dislike.png">
                                            <div class="vote_count"><span style="width: 20px;">100</span></div>
                                        </div>
                                    </div>

                                   <span class="txt">
                                       тут какой  то комментарий тут то комментарий тут то комментарий тут то комментарий тут то комментарий тут то комментарий тут каF7EEEFF7EEEFкой то комментарий тут какой то комментарийтут какой то комментарийтут какой то комментарийтут какой то комментарий
                                   </span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment_wrapper">
                                <div class="comment_bar">
                                    <a href="/" target="_blank" class="name">Филипенко клавдия</a>
                                    <div class="created_at"><span>25 дек 2016 в 14:00</span></div>
                                </div>
                                <div class="comment">
                                    <div class="owner">
                                        <a href="/" target="_blank"><img src="../img/avatar_mini.jpg" alt=""></a>
                                    </div>

                                    <div class="comment_vote_list">
                                        <div class="like" onclick="return Cmt.vote('11_2', 'like', this)">
                                            <img src="/img/comment_like.png">
                                            <div class="vote_count"><span style="width: 20px;">99</span></div>
                                        </div>
                                        <div class="dislike my_vote" onclick="return Cmt.vote('11_2', 'dislike', this)">
                                            <img src="/img/comment_dislike.png">
                                            <div class="vote_count"><span style="width: 20px;">100</span></div>
                                        </div>
                                    </div>

                                   <span class="txt">
                                       тут какой  то комментарий тут то комментарий тут то комментарий тут то комментарий тут то комментарий тут то комментарий тут каF7EEEFF7EEEFкой то комментарий тут какой то комментарийтут какой то комментарийтут какой то комментарийтут какой то комментарий
                                   </span>
                                </div>
                            </div>
                        </li>
                    </ul>



                </div>
            </div>
            <div class="right">

                <ul class="menu_list">
                    <li>
                        <a href="/jornal">
                            <span class="txt">Журнал</span>
                            <span id="jornalCnt" class="jornal_cnt">12</span>
                        </a>
                        <div class="cover"></div>
                    </li>
                    <li>
                        <a href="/jornal">
                            <span class="txt">Удаленные рецепты</span>
                        </a>
                        <div class="cover"></div>
                    </li>
                </ul>

            </div>

        </div>

    </div>

{% endblock body %}
